#text file and dirctory
*.txt
*.data
*__/
*.csv
*.h5
*.npz

#SAM/BAM file
*.sam
*.bam
*.bai

#shell bash scipt
shell.sh
temp.sh
*.out

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
__*

# pictures
*.png
*.jpg
*.pdf
